.leader-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  min-height: 260px;
  width: 90%;
  border: 2px solid orangered;
  background-color: white;
border-radius: 50px;
overflow: hidden;
transition: all .5s;
}
.leader-card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  min-height: 260px;
  width: 90%;
  background-color: white;
border-radius: 50px;
overflow: hidden;
transition: all .5s;
}
.leader-card:hover{
  background-color: rgb(255, 161, 126);
  ;
}
.leader-card img {
  width: 50%;
  height: auto;
}
.leader-card h3 {
  border-bottom: 2px solid orangered;
  padding: 5%;
}
