* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 90vw;
  height: 90vh;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 280px;
  width: 30%;
  min-width: 280px;
  background-color: grey;
}
.right {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  max-height: 100%;
  width: 70%;
  min-width: 500px;
  background-color: grey;
}
.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 780px;
}
